@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header-address-list {
    flex-direction: unset;
    gap: 40px;
  }

  .header-link::after {
    bottom: -45%;
  }

  .header-link.current::after {
    bottom: -45%;
  }

  .header-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-style: normal;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }

  .about-list {
    flex-wrap: unset;
    gap: 24px;
  }

  .about-item {
    width: 100%;
  }

  .about-icon {
    display: flex;
  }

  .about-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .products {
    display: block;
    padding-bottom: 120px;
  }

  .products-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
  }

  .product-list {
    display: flex;
    gap: 24px;
  }

  .product-item {
    width: calc((100% - 48) / 3);
  }

  .team-list {
    flex-wrap: unset;
    flex-direction: unset;
    row-gap: 64px;
    column-gap: 24px;
  }

  .customers-list {
    flex-wrap: unset;
  }

  .footer-flex {
    justify-content: space-between;
    padding-left: 15px;
  }
}
