@media screen and (min-width: 480px) {
  .header-list,
  .header-address-list {
    display: none;
  }

  .logo {
    margin-right: 0;
  }

  .hero {
    padding-bottom: 108px;
  }

  .about-item {
    width: 396px;
    align-items: flex-start;
  }
}
