@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .img {
    width: 264px;
  }

  .hero {linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    background-image: url(../images/hero-bg-tab-1x.jpg);
  }
  .about-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  row-gap: 72px;
  column-gap: 24px;
}

.about-item {
  width: 356px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  row-gap: 64px;
  column-gap: 24px;
}

.team-item {
  width: 268px;
}

.footer-flex {
   display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
}

.subscribe-wrap {
  flex-direction: unset;
  flex-wrap: wrap;
}

.subscribe-text {
 text-align: left;
}

 .footer-email {
  width: 264px;
}
}
